body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #29ba08;
}

.quem-somos{
    background-color: #8181f7;
    color: white;
}

.margin{
    padding-bottom: 40px;
    padding-top: 10px;   
}

.parceiros{
    background-color: #58fafa;
}

.bg-footer{
    background-color: black;
    color: white;
}
